<div class="container">
  <app-top-bar></app-top-bar>
  <router-outlet></router-outlet>
  <footer>
    <p class="col-12 p-1 text-center text-white mt-5">
      <small
        >themes by
        <a class="text-white" href="http://axcora.my.id/pico/cuteblog/"
          >cuteblog</a
        >
        built with
        <a class="text-white" href="https://angular.io">Angular</a> powered by
        <a class="text-white" href="https://website.axcora.com"
          >axcora</a
        ></small
      >
    </p>
  </footer>
</div>
